.card-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.squirrel-card {
  border: 3px solid black;
  padding: 10px;
  width: 100%;
  text-align: center;
  min-height: 350px;
}

.squirrel-img {
  /* object-fit: cover; */
  height: 100px;
  margin-top: 8px;
  margin-bottom: 8px;
}

li {
  list-style: none;
  padding: 8px;
}

.squirrel-card p {
  font-size: x-large;
  padding: 8px;
}

ul {
  font-size: large;
}
